<div class="catbuttons">
<a href="/" >Todos</a>
<a href="/carnes" >Carnes</a>
<a href="/higiene&limpeza" >Hig. & Limp.</a>
<a href="/bebidas" >Bebidas</a>
<a href="/hortifruit" >Hortifruit</a>
<a href="/doces" >Doces</a>
</div>